.vscode/**
typings/**
test/**
src/**
**/*.map
.gitignore
.prettierignore
.prettierrc.js
.eslintrc.js
esbuild.js
tsconfig.json
vsc-extension-quickstart.md
pnpm-lock.yaml
pnpm-workspace.yaml
node_modules/**
plans/**
tmp/**
assets/*.svg
